.aboutMeMainDiv{
    width: 100%;
    display: flex;
    flex-direction: column;

}



.topPicDiv{
    width: 100%;
    height: 325px;
    
    
}

.topPicDiv img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.aboutMeMidPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePic{
    margin-top: 5.5px;
    height: 325px;
    width: 250px;
}

.infoDiv{
   
    margin-top: 15px;
    width: 45%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: solid black 1px;
    align-items: center;
}

@media screen and (max-width : 637px){
    .infoDiv{
        width: 70%;
        
    }
}

.aLittleBit{
    font-size: 48px;
    text-align: center;
}

.infoBodyDiv h3{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 3px;
    text-align: center;
}

.infoBodyDiv p{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 0px;
}

.skillsDiv{
    width: 45%;
    text-align: center;
    border-bottom: solid black 1px;
}

.openToWork{
    width: 45%;
    text-align: center;
}