.topNavBar{
    width: 100%;
    background-color: rgb(58, 58, 58);
    height: 80px;
    display: flex;
}

.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}


.navIcons{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
}

.navBarIcons{
font-size: 35px;
color: white;
margin-right: 10px;
text-decoration: none;
}

.link{
    text-decoration: none;
}

.link:hover{
    background-color: rgb(112, 112, 112);
}

.dropDown{
    height: auto;
    width: 100%;
    background-color:rgb(58, 58, 58);
    position: fixed;
    margin-top: 75.3px;
    border-top: solid 1px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navBarButton{
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.navBarButton:hover{
    background-color: rgb(112, 112, 112);
}

.navBarButton h3{
    margin: 5px;
}

#dropDownProjects{
    border-top: solid .5px whitesmoke;
}

#dropDownContact{
    border-top: whitesmoke solid .5px;
}

